---
import { Navbar } from "@/components/Navbar/Navbar";
import { Typography } from "@/components/Typography/Typography";
import Carousel from "@/components/Carousel/Carousel";
import TechList from "@/components/TechList/TechList";
import HeroText from "@/components/GlowText/GlowText";
---

<section id="home" class="relative h-svh flex flex-col z-10">
  <Navbar client:load />

  <div class="flex flex-col flex-1 gap-36 justify-center">
    <div class="flex flex-col w-6xl mx-auto max-w-11/12">
      <HeroText client:load />

      <Typography variant="header1" as="h1" className="text-center -mt-16">
        I help you build your MVP and prototype the right way. <br />
        Ship fast but ship right.
      </Typography>
    </div>

    <div class="flex justify-center w-6xl mx-auto max-w-11/12">
      <TechList client:load />
    </div>
  </div>

  <Carousel client:load />
</section>
