---
import AboutMe from "@/components/AboutMe/AboutMe";
import WhatIDo from "@/components/WhatIDo/WhatIDo";
import Projects from "@/components/Projects/Projects";
import LetsTalkBanner from "@/components/LetsTalkBanner/LetsTalkBanner";
import Footer from "@/components/Footer/Footer.astro";
---

<div>
  <section class="py-12 bg-secondary-black">
    <AboutMe client:load />
  </section>

  <section class="py-16">
    <WhatIDo client:load />
  </section>

  <section class="pt-16">
    <Projects client:load />
  </section>

  <section class="">
    <LetsTalkBanner client:load />
  </section>

  <Footer />
</div>
