---
import "@fontsource/urbanist/400";
import "@fontsource/urbanist/500";
import "@fontsource/urbanist/600";
import "@fontsource/urbanist/700";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Yuri Delgado</title>
  </head>
  <body>
    <slot />
  </body>
</html>
